<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d0152f05e7.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <header id="header-inner">
      <div class="container">
        <nav id="main-nav">
          <ul>
            <div class="up-wrapper">
              <li><a href="index.html">Hakkımda</a></li>
              <li><a href="ozgecmis.html">Özgeçmiş</a></li>
              <li><a href="sehrim.html">Şehrim</a></li>
              <li><a href="mirasimiz.html">Mirasımız</a></li>
            </div>
            <div class="bottom-wrapper">
              <li><a href="hobilerim.html">Hobilerim</a></li>
              <li><a href="iletisim.html">Bana Ulaşın</a></li>
              <li><a href="giris-yap.html">Giriş Yap</a></li>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <section id="contact">
      <div class="container">
        <h1 class="section-title">Bana Ulaşın</h1>
        <div class="bottom-line"></div>

        <div class="contact-flex">
          <div class="contact-info">
            <h2 class="side-title">İletİşİm Bİlgİlerİ</h2>
            <div class="contact-box">
              <i class="fa-solid fa-map fa-2x"></i>
              <div class="info-wrapper">
                <h3 class="text-primary">Adres:</h3>
                <p>Eskişehir, Emek Mahallesi</p>
              </div>
            </div>
            <div class="contact-box">
              <i class="fa-solid fa-envelope fa-2x"></i>
              <div class="info-wrapper">
                <h3 class="text-primary">Email:</h3>
                <p>omer.akkiyal@ogr.sakarya.edu.tr</p>
              </div>
            </div>
            <div class="contact-box">
              <i class="fa-solid fa-phone fa-2x"></i>
              <div class="info-wrapper">
                <h3 class="text-primary">Telefon No:</h3>
                <p>+90 (555) 020 0422</p>
              </div>
            </div>
          </div>
          <div class="contact-form" id="app">
            <form class="bana-ulasin" @submit.prevent="submitForm">
              <h2 class="side-title">İletİşİm Formu</h2>
              <input type="text" placeholder="İsim-Soyisim" />
              <span class="error-message" v-if="errors.name"
                >{{ errors.name }}</span
              >
              <!--huhuhaha-->
              <input type="email" placeholder="Email" />
              <span class="error-message" v-if="errors.email"
                >{{ errors.email }}</span
              >
              <!--huhuhaha-->
              <input type="text" placeholder="Adres" />
              <span class="error-message" v-if="errors.address"
                >{{ errors.name }}</span
              >
              <!--huhuhaha-->
              <input type="text" placeholder="Konu" />
              <span class="error-message" v-if="errors.subject"
                >{{ errors.subject }}</span
              >
              <!--hhuha-->
              <div class="row-flex">
                <div class="radio-group">
                  <h3 class="side-title">Cİnsİyet:</h3>
                  <div class="radio-box">
                    <label for="man">Erkek:</label>
                    <input type="radio" name="gender" id="man" value="man" />
                  </div>
                  <div class="radio-box">
                    <label for="woman">Kadın:</label>
                    <input
                      type="radio"
                      name="gender"
                      id="woman"
                      value="woman"
                    />
                  </div>
                  <div class="radio-box">
                    <label for="man">Belirtmek İstemiyor:</label>
                    <input type="radio" name="gender" id="man" value="man" />
                  </div>
                </div>
                <span class="error-message" v-if="errors.subject"
                  >{{ errors.gender }}</span
                >
                <div class="select-box">
                  <label for="age" class="side-title">Yaş:</label>
                  <select id="age" class="age" name="age">
                    <option
                      value="0"
                      disabled="disabled"
                      selected="selected"
                    ></option>
                    <option value="0-18">0-18</option>
                    <option value="18-30">18-30</option>
                    <option value="30-45">30-45</option>
                    <option value="45-60">45-60</option>
                    <option value="60+">60+</option>
                  </select>
                  <span class="error-message" v-if="errors.subject"
                    >{{ errors.age }}</span
                  >
                </div>
                <div class="select-box">
                  <label for="city" class="side-title">Şehir:</label>
                  <select id="city" class="city" name="city">
                    <option
                      value="0"
                      disabled="disabled"
                      selected="selected"
                    ></option>
                    <option value="01">Adana</option>
                    <option value="02">Adıyaman</option>
                    <option value="03">Afyonkarahisar</option>
                    <option value="04">Ağrı</option>
                    <option value="05">Amasya</option>
                    <option value="06">Ankara</option>
                    <option value="07">Antalya</option>
                    <option value="08">Artvin</option>
                    <option value="09">Aydın</option>
                    <option value="10">Balıkesir</option>
                    <option value="11">Bilecik</option>
                    <option value="12">Bingöl</option>
                    <option value="13">Bitlis</option>
                    <option value="14">Bolu</option>
                    <option value="15">Burdur</option>
                    <option value="16">Bursa</option>
                    <option value="17">Çanakkale</option>
                    <option value="18">Çankırı</option>
                    <option value="19">Çorum</option>
                    <option value="20">Denizli</option>
                    <option value="21">Diyarbakır</option>
                    <option value="22">Edirne</option>
                    <option value="23">Elazığ</option>
                    <option value="24">Erzincan</option>
                    <option value="25">Erzurum</option>
                    <option value="26">Eskişehir</option>
                    <option value="27">Gaziantep</option>
                    <option value="28">Giresun</option>
                    <option value="29">Gümüşhane</option>
                    <option value="30">Hakkari</option>
                    <option value="31">Hatay</option>
                    <option value="32">Isparta</option>
                    <option value="33">Mersin</option>
                    <option value="34">İstanbul</option>
                    <option value="35">İzmir</option>
                    <option value="36">Kars</option>
                    <option value="37">Kastamonu</option>
                    <option value="38">Kayseri</option>
                    <option value="39">Kırklareli</option>
                    <option value="40">Kırşehir</option>
                    <option value="41">Kocaeli</option>
                    <option value="42">Konya</option>
                    <option value="43">Kütahya</option>
                    <option value="44">Malatya</option>
                    <option value="45">Manisa</option>
                    <option value="46">Kahramanmaraş</option>
                    <option value="47">Mardin</option>
                    <option value="48">Muğla</option>
                    <option value="49">Muş</option>
                    <option value="50">Nevşehir</option>
                    <option value="51">Niğde</option>
                    <option value="52">Ordu</option>
                    <option value="53">Rize</option>
                    <option value="54">Sakarya</option>
                    <option value="55">Samsun</option>
                    <option value="56">Siirt</option>
                    <option value="57">Sinop</option>
                    <option value="58">Sivas</option>
                    <option value="59">Tekirdağ</option>
                    <option value="60">Tokat</option>
                    <option value="61">Trabzon</option>
                    <option value="62">Tunceli</option>
                    <option value="63">Şanlıurfa</option>
                    <option value="64">Uşak</option>
                    <option value="65">Van</option>
                    <option value="66">Yozgat</option>
                    <option value="67">Zonguldak</option>
                    <option value="68">Aksaray</option>
                    <option value="69">Bayburt</option>
                    <option value="70">Karaman</option>
                    <option value="71">Kırıkkale</option>
                    <option value="72">Batman</option>
                    <option value="73">Şırnak</option>
                    <option value="74">Bartın</option>
                    <option value="75">Ardahan</option>
                    <option value="76">Iğdır</option>
                    <option value="77">Yalova</option>
                    <option value="78">Karabük</option>
                    <option value="79">Kilis</option>
                    <option value="80">Osmaniye</option>
                    <option value="81">Düzce</option>
                  </select>
                  <span class="error-message" v-if="errors.city"
                    >{{ errors.city }}</span
                  >
                </div>
              </div>
              <textarea
                id="mesaj"
                placeholder="Mesajınız"
                cols="30"
                rows="10"
              ></textarea>
              <span class="error-message" v-if="errors.subject"
                >{{ errors.message }}</span
              >
              <button type="submit">Gönder</button>
              <button type="button" @click="submitFormVue">Formu Gönder</button>
              <input type="reset" value="Temizle" class="temizle" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer id="main-footer">
      <div class="footer-content container">
        <p>Copyright &copy; 2024. All Right Reserved</p>
        <div class="social">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </footer>
    <script src="js/validation.js"></script>
    <script src="js/vue-validation.js"></script>
  </body>
</html>
