.image-slider-container {
  position: relative;
  width: 100%;
  /* max-width: 600px; */
  height: 200px;
  margin: auto;
}

.image-slider {
  overflow: hidden;
  height: 100%;
}

.image-slider img {
  width: 100%;
  height: 100%;
  display: block;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left {
  left: 0;
}

.right {
  right: 0;
}
